.header-stuffing {
    width: 100%;    
    height: 54px;
    float: left;
}

.main-container{
    float: left;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
    width: 100%;
}