<div class="star-rating">
      <div class="star-rating__wrap">
        <div *ngFor="let star of stars" class="star-rating_starWrap">
          <input class="star-rating__input" id="star-rating-{{star}}" type="radio" name="rating" value="{{star}}" (change)="onSelectionChange(star)">
          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-{{star}}" title="{{star}} out of 5 stars"></label>
        </div>

        <!--<input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>-->
      </div>
    </div>