<div class="row columns">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <div *ngIf="(user | async)?.uid" >
    <input type="text" id="title" placeholder="title" [(ngModel)]='titleVal' />
    <input type="text" id="message" placeholder="image url" [(ngModel)]="imageUrlVal" />
    <button (click)="Save()">Save</button>
  </div>
  <div id="details-container">
      <p *ngFor="let recipe of recipes | async">{{recipe.title}}</p>
  </div>
</div>