.recipe-card {
    height: 0px;
    float: left;  
    position: relative;  
    
    .recipe {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 1s;     

        figure {
            margin: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        .front {               
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;  
        }

        .back {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;  
            background-size:cover;
            box-shadow:inset 0 0 0 2000px rgba(130,200,250,0.9);
            
            // background: #ffffff;
            padding: 10px 20px 20px 20px;
            transform: rotateY( 180deg );

            .title {
                color: #444;
                font-size: 1.2em;
                font-weight: bold;
                margin: 10px 0 30px 0;
                border-bottom: 1px solid #eee;
                padding-bottom: 20px;
            }
        }
        
        &.flipped {
            transform: rotateY( 180deg );
        }
    }   

 
}

/* Smartphones (portrait) ----------- */
@media screen and (max-width: 500px) {
    .recipe-card{
        width: 100%;
        padding-bottom: 70%;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 500px) and (max-width : 1100px) {
    .recipe-card{
        width: 50%;
        padding-bottom: 34%;
    }
}

/* Desktops and small laptops ----------- */
@media only screen  and (min-width : 1100px){
    .recipe-card{
        width: 33.3333333333%;
        padding-bottom: 24%;
    }
}





// .container { 
//   width: 200px;
//   height: 260px;
//   position: relative;
//   perspective: 800px;
// }

// #card {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   transform-style: preserve-3d;
//   transition: transform 1s;
// }

// #card figure {
//   margin: 0;
//   display: block;
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   backface-visibility: hidden;
// }

// #card .front {
//   background: red;
// }
// #card .back {
//   background: blue;
//   transform: rotateY( 180deg );
// }

// #card.flipped {
//   transform: rotateY( 180deg );
// }
